[submodule "gxbox"]
	path = gxbox
	url = https://github.com/Sergey-Anfinogentov/GXBox_prep
[submodule "sfq"]
	path = sfq
	url = https://github.com/Sergey-Anfinogentov/SFQ
[submodule "nlfff2"]
	path = nlfff
	url = https://github.com/Alexey-Stupishin/Magnetic-Field_Library
