[submodule "gxbox"]
	path = gxbox
	url = https://github.com/Sergey-Anfinogentov/GXBox_prep
[submodule "sfq"]
	path = sfq
	url = https://github.com/Sergey-Anfinogentov/SFQ
[submodule "nlfff2"]
	path = nlfff
	url = https://github.com/Alexey-Stupishin/Magnetic-Field_Library
[submodule "external/nlfff"]
	path = external/nlfff
	url = https://github.com/alexey-stupishin/magnetic-field_library
[submodule "external/mw/grffdem"]
	path = external/mw/grffdem
	url = https://github.com/kuznetsov-radio/GRFF
[submodule "external/grid"]
	path = external/grid
	url = https://github.com/kuznetsov-radio/RenderIrregular
	branch = main
[submodule "external/mw/mwtransferarr"]
	path = external/mw/mwtransferarr
	url = https://github.com/kuznetsov-radio/gyrosynchrotron
[submodule "external/rendergrff"]
	path = external/rendergrff
	url = https://github.com/kuznetsov-radio/gximagecomputing
